.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(204, 206, 206);
}

.profileIMG {
  border-radius: 30%;
  border: 1px solid rgb(75, 71, 71);
  box-shadow: 8px 10px 5px gray;
}

.fullName {
  font-size: 40px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: rgb(190, 23, 23);
  text-shadow: 2px 2px black;
}

.fullName span {
  color: gray;
  text-decoration: underline;
}

.adresse {
  /* width: 50%; */
  text-align: center;
  text-decoration: underline;
}
